body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#questionsContainer {
    display: flex;
    flex-direction: column; /* Поля идут вертикально */
    gap: 15px; /* Отступ между полями */
}

.field-row {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    gap: 10px; /* Расстояние между меткой и полем ввода */
}

label {
    color: #555;
    width: 50px; /* Фиксированная ширина для выравнивания */
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; /* Поле ввода растягивается по ширине */
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
